.titulo{font-size: 350%;
    margin-top: 100px;
    padding-left: 550px;}

.img1{width:500px;
margin-top: 50px;
 padding-left: 700px;}

 .descrição{font-size: 150%;
    margin-top: 50px;
    padding-left: 500px;}

    .compra{width:550px;
        margin-top: -50px;
         padding-left: 700px;}

    
